<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PROYECTO ISL 600</title>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page-wraper">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
