<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PROYECTO ISL 600</title>
    <link href="~/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">
    <link href="~/css/navBar/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/navBar/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body data-sidebar="dark">
    <div class="page-wraper">
        <!--Inicio navBar-->
        <div id="nav-bar">
            <input id="nav-toggle" type="checkbox" />
            <div id="nav-header">
                <a id="nav-title" href="#" target="_blank">TORNEOMANIA</a>
                <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
                <hr />
            </div>
            <div id="nav-content">
                <div class="nav-button"><i class="fas fa-palette"></i><span>Your Work</span></div>
                <div class="nav-button"><i class="fas fa-images"></i><span>Assets</span></div>
                <div class="nav-button"><i class="fas fa-thumbtack"></i><span>Pinned Items</span></div>
                <hr />
                <div class="nav-button"><i class="fas fa-heart"></i><span>Following</span></div>
                <div class="nav-button"><i class="fas fa-chart-line"></i><span>Trending</span></div>
                <div class="nav-button"><i class="fas fa-fire"></i><span>Challenges</span></div>
                <div class="nav-button"><i class="fas fa-magic"></i><span>Spark</span></div>
                <hr />
                <div class="nav-button"><i class="fas fa-gem"></i><span>Codepen Pro</span></div>
                <div id="nav-content-highlight"></div>
            </div>
            <input id="nav-footer-toggle" type="checkbox" />
            <div id="nav-footer">
                <div id="nav-footer-heading">
                    <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" /></div>
                    <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">uahnbu</a><span id="nav-footer-subtitle">Admin</span></div>
                    <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
                </div>
                <div id="nav-footer-content">
                    <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</Lorem>
                </div>
            </div>
        </div>
        <!--Fin navBar-->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        ©
                        <script>document.write(new Date().getFullYear())</script> PROYECTOISL600<span class="d-none d-sm-inline-block"> <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JAVASCRIPT -->
        
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/metismenu/metisMenu.min.js"></script>
        <script src="~/lib/simplebar/simplebar.min.js"></script>
        <script src="~/lib/node-waves/waves.min.js"></script>

        <script src="~/lib/peity/jquery.peity.min.js"></script>
        <script src="~/lib/chartist/chartist.min.js"></script>
        <script src="~/lib/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>
        <script src="~/js/pages/dashboard.init.js"></script>
        <script src="~/js/app.js"></script>
    </div>

    @RenderSection("scripts", required: false)
</body>

</html>