@mixin outline-text{
	font-family: $heading-font;
	color: $clr-black;		
	font-weight: 700;
	font-size: 80px;
	line-height:70px;
	text-transform: uppercase;
	-webkit-text-fill-color: rgba(0,0,0,0);	
	-webkit-text-stroke: 1px $clr-black ;
	display:block;
}
@mixin outline-text-white{
	font-family: $heading-font;
	color: $clr-white;		
	font-weight: 700;
	font-size: 80px;
	line-height:70px;
	text-transform: uppercase;
	-webkit-text-stroke: 1px $clr-white ;
	-webkit-text-fill-color: rgba(0,0,0,0);
	display:block;
}
@mixin common-text-style {
	font-family: $heading-font;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}