$clr-primary: #fe0000;


.site-text-primary,
.wt-small-separator{color: $clr-primary;}

.site-bg-primary{background-color: $clr-primary;}

.about-gym-one::after{
    border-color:$clr-primary;
}
.steps-section::after{
    background-color:$clr-primary;
}

.section-head{
    &.left{
         &.wt-small-separator-outer{
             .wt-small-separator{ 
                 div.sep-leaf-left{
                     &:before,&:after{background-color:$clr-primary;}
                }
            }
        }
     } 
     &.center{
         .wt-small-separator{
             div.sep-leaf-left{	
                 &:before{background-color:$clr-primary;}
             }
         }
     } 
 }

 /*Workout classes Section One*/
.time-zone-table1{
	.table{
		th{
			.classes-days{background-color: $clr-primary;}
		}
		td{
			&:first-child{background-color: $clr-primary;}
			.content-data{	
				&:hover{					
					&:after{background-color:$clr-primary;}	
				}
			}
		}
	}
}

.site-button {
	background-color:$clr-primary ;
	&:active,&:focus,&:visited{background-color:$clr-primary;}
}

.ap-btn {
	&:hover {
		&:after {background: $clr-primary;}
	}
}

/*Team Style One*/
.wt-team-1{
	background-color: $clr-primary;
	.team-social-center{border-right: 3px solid $clr-primary;
		ul{
			li{
				a{
					&:hover{color: $clr-primary;}
				}
			}
		}
	}
}

/*---Owl slider button---*/
.owl-prev {background-color: $clr-primary;border-color: $clr-primary;
	&:hover,&:active,&:focus  {background-color: $clr-primary;border-color: $clr-primary;}
}
.owl-next {background-color: $clr-primary;border-color: $clr-primary;
	&:hover,&:active,&:focus{background-color: $clr-primary;border-color: $clr-primary;}
}

.blog-post-style-1{
	.wt-post-info{
		.wt-post-author{
			.post-author-name{color: $clr-primary;}
		}
    }
}

.blog-post-style-1{
	.wt-post-info{
		.wt-post-author{
			.post-author-name{color: $clr-primary;}
		}
	}

	&:hover{
		.wt-post-meta {
			ul{
				li {color: $clr-primary;}
			}
		}
    }
}

/*Footer dark version css*/

.footer-dark{	
	.widget-title {color: $clr-primary;}
	.social-icons{
		 li{
			a {color:$clr-primary;}
		}
	}
	.footer-bottom {
		.footer-link{
			.copyrights-nav {
				li {
					a {
						&:hover{color: $clr-primary;}
					}
				}
			}
		}
	}
}

.footer-dark.foo-style2{	
	.widget-title {color: $clr-primary;}
	.widget_newsletter{
		.newsletter-bx{
			.site-button{background-color: $clr-primary;}
		}
	}
	.social-icons{
		 li{a {color:$clr-primary;}	}
	}
}

.widget_address{
	li{
		i {color:$clr-primary;}
	}
}
.play-now-video{ 
	.icon {color:$clr-primary;}
}

.site-button-link {color: $clr-primary;}

/*Testimonial Style One*/
.testimonial-1-content{
	&:after{border: 3px solid $clr-primary;	}
	.testimonial-1{
		.testimonial-info{
			.testimonial-position {color: $clr-primary;}
		}
	}
}

/*Testimonial Style One*/
.testimonial-2-content{
	.testimonial-2{
		.testimonial-content-bg{
			&:before{border: 3px solid $clr-primary;}
		}
		.testimonial-info{
			.testimonial-position {color: $clr-primary;}
		}
	}
}


/*Client Logo 1*/
.home-client2-outer{
	.home-client2-carousel{background-color:$clr-primary;}
}

/*Blog Style 2*/
.blog-post-style-2{
	.wt-post-media{
		.wt-post-category{
			a{background-color: $clr-primary;}
		}
	}
}

/*Revolution Slider Button*/

.rev-btn{
	.site-button{background-color:$clr-primary;}
}

.bullet-bar{
	.tp-bullet{
		&:hover,
		&.selected{background:$clr-primary !important;}
	}
}

/*Revolution slider play btn*/
.tp-caption{
	.rev-img-circle{	
		&:after{background-color: $clr-primary;}
	}
}

.header-style-1{
	.header-nav {
		.nav>li {
			.sub-menu {
				li {
					&:hover>a {color: $clr-primary;}
				}
			}
		}
	}
}

.header-style-2{
	.top-bar{
		.wt-topbar-right-info{ 
			li{
				span{color: $clr-primary;}
			}
		}

		.wt-topbar-left-info{
			span{color: $clr-primary;}
		}		
	}

	.header-nav {
		.nav>li {
			.sub-menu {
				li {
					&:hover>a {color: $clr-primary;}
				}
			}
			&.active>a,
			&.current-menu-item>a {	color: $clr-primary;}  
			&:hover>a {color: $clr-primary;}

		}
	}
}

.rev-play-now{
	.icon {color:$clr-primary;}
	.ripple,
	.ripple:before,
	.ripple:after {box-shadow:0 0 0 0 $clr-primary;	}
}
.about-gym-two{	
		&:after{border: 30px solid $clr-primary;}
}

/*Team Style two*/
.wt-team-2{
	.wt-media{
		&::after{background-color: $clr-primary;}
	}
	.team-detail{
		.team-position{	color: $clr-primary;}
	}
	.team-social-center{
		ul{
			li{
				a{
					&:hover{color: $clr-primary;}
				}
			}
		}
	}
}

/*Tabs style 1 [ default ] */
.wt-tabs { 
	.nav-tabs {
		>li {
			a.active,&:focus,&:hover{background-color:$clr-primary;
			}
		}
	}
}

/*Video Section*/
.video-section-two-outer{
	&:after{background-color: $clr-primary;}
}

/*workout style three*/
.workout-box-style3-outer{
	.workout-box-style3{
		.workout-content{background-color: $clr-primary;}
	}
}

/*Team Style three*/
.wt-team-3{
	.team-detail{
		.team-position{color: $clr-primary;}
	}
}

/*Video Section*/
.video-section-three-outer{
	.video-text{
		&:before{border:4px solid $clr-primary;}
	}	
}

/*Blog post-style 3*/
.blog-post-style-3{
	.wt-post-info{
		.wt-post-author{
			.post-author-name{color: $clr-primary;}
		}
	}

	.wt-post-meta {
		ul {
			li {color: $clr-primary;}
		}
	}
}

/*Footer Light version css*/

.footer-light{	
	.social-icons{
		 li{
			a {color:$clr-primary;}
		}
	}
	.footer-bottom {
		.footer-link{
			.copyrights-nav {
				li {
					a {	
						&:hover{color: $clr-primary;}
					}

				}
			}
		}
	}
}

.header-style-3{

	.top-bar{ 
		.wt-topbar-left-info{		 
			span {color:$clr-primary;}
		}

		.wt-topbar-right-info{
			 li {
				span {color:$clr-primary;}
			}
		}
	}

	.header-nav {
		.nav>li {
			&.active>a,
			&.current-menu-item>a {color: $clr-primary;}               
			&:hover>a {color: $clr-primary;}
			.sub-menu {
				li{
					&:hover>a {color: $clr-primary;}
				}
			}
		}
	}
}


.pricing-table-2{
	.p-table-price{
		span{color: $clr-primary;}
	}
}

/*--Breadcrumb --*/
.wt-breadcrumb{
	li {
		a{
			&:hover{color: $clr-primary;}
		}
		&:after{background-color: $clr-primary;}
		&:last-child {color: $clr-primary;}
	}
}


/* filter buttons css */
.filter-wrap{
	.masonry-filter {
		>li {
			&.active {
				a {color: $clr-primary;}
			}		
		}
		li {
			&:before{background:$clr-primary;}
			a {
				&:hover,
				&:active,
				&:focus {color: $clr-primary;}		
			}
		}
	}
}

.gallery-outer2{
	.gallery-style-2{
		&:hover{			
			.wt-info{
				a{
					&:hover{background-color: $clr-primary;}
				}				
			}
		}
	}
	.gallery-content{
		.gallery-category{color: $clr-primary;}
	}
}


/*---Owl dots button---*/
.owl-carousel {
	.owl-dots {
		.owl-dot {
			&:hover {
				span {background: $clr-primary;}
			}
		}
		.owl-dot.active {
			span {background: $clr-primary;}
		}
	}
}

.info-list-1{
	li{
		.title{color: $clr-primary;}
	}
}


/*Year section*/
.year-section{
	&:after{background-color: $clr-primary;}
}

.schedule-column{
	.inner-column{
		.time{
			span{color: $clr-primary;}
		}
	}
}

.arrow-list-2{
	li {
		span{
			&:before{color: $clr-primary;}
		}
	}
}

/*Error Page*/
.page-notfound{
	strong{color: $clr-primary;}
}

/*Pagination Style*/
.pagination-outer{
	.pagination-style1{
		ul{
			li{
				&:hover{background-color: $clr-primary;}
			}
		}
	}
}

/*Blog Side Bar*/
.side-bar{
	//search box
	.search-bx {
		.input-group-btn{
			.btn{background-color: $clr-primary;}
		}
	}

	//insta post
	.widget-insta-post{
		ul{
			li {
				a {
					&:before {background-color: $clr-primary;}
				}
			}
		}
	}

	//widget services
	.widget_services {
		ul {
			li {
				a {
					&:hover{color: $clr-primary;}
				}
			}
		}
	}
	
}



//Blog post single
.blog-post-style-2{
	&.blog-post-single{
		blockquote{
			span{
				cite{color: $clr-primary;}
			}		
		}
	}
}


/*--Comment list--*/
ol.comment-list {
	li.comment {
		.comment-meta {
			a {color: $clr-primary;}
		}
		.reply {
			.comment-reply-link {background-color: $clr-primary;}
		}
	}
}


/*About one Section*/
.faq-media{
	&:after{border: 4px solid $clr-primary;}
}

