:root{
	--color-one: #F5F5F5;
	--color-two: #24292E;
	--color-three: #EC5252;
	--form-color: #14111A;
	--accent-color: #253556;
    --border-color: #D8D8D8;
}

body,html{
	width: 100vw;
	height: 100vh;
	background-color: var(--color-one);
	color: #333;
	font-size: 16px;
}

.full-box{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}

.form-neon{
	border: 1px solid var(--border-color);
	background-color: #FFF;
	padding: 15px;
	border-radius: 3px;
}

/*----------  Page headers styles  ----------*/
.page-header{
	padding: 30px 20px 60px 20px;
}
.page-header > :nth-child(1){
	padding-bottom: 7px;
}
.page-header > :nth-child(2){
	font-size: 18px;
}

/*----------  Page nav tabs  ----------*/
.page-nav-tabs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.page-nav-tabs li,
.page-nav-tabs li a{
	height: 40px;
	line-height: 40px;
}
.page-nav-tabs li{
	margin: 5px 20px;
}
.page-nav-tabs li a{
	color: var(--accent-color);
	font-size: 17px;
	min-width: 200px;
	width: auto;
	display: block;
	text-align: center;
	user-select: none;
	transition: all .2s ease-in-out;
	border-bottom: 2px solid transparent;
}
.page-nav-tabs li a.active{
	color: var(--color-three);
	cursor: none;
	pointer-events: none;
}
.page-nav-tabs li a:hover{
	text-decoration: none;
	color: #333;
	border-bottom: 2px solid #333;
}

/*----------  Edit bootstrap styles  ----------*/
.form-control[readonly]{
	background-color: transparent;
}
.form-control:focus,
.form-control:active{
	outline: none;
	box-shadow: none;
	border: none;
}
.form-control-file:active,
.form-control-file:focus{
	outline: none;
}
.table .btn{
	margin-bottom: 0;
}
.table thead th{
	color: #FFF;
}
.table tbody tr{
	color: #333;
	transition: all .2s ease-in-out;
}
.table-dark,
.table{
	background-color: #fff;
}
.table-dark{
	border: 1px solid var(--accent-color);
}
.table-dark thead tr{
	background-color: var(--accent-color);
}
.table-dark td,
.table-dark thead th,
.table-dark th{
	border: none;
}
.table-dark tr:hover{
	color: var(--color-three);
	background-image: linear-gradient(to right, transparent, rgba(124, 100, 112, .2) 85%, transparent);
}
.page-link{
	transition: all .2s ease-in-out;
}
.page-link:hover,
.page-link.active{
	background-color: var(--color-three);
	color: #FFF;
}
table form{
	margin-bottom: 0;
}
/*----------  Page 404 styles  ----------*/
.container-404{
	background: #000428;
	background: linear-gradient(to right, #004e92, #000428);
	color: #fff;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*----------  login Styles  ----------*/
.login-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0575E6;
	background: -webkit-linear-gradient(to right, #021B79, #0575E6);
	background: linear-gradient(to right, #021B79, #0575E6);

}
.login-content{
	width: 95%;
	max-width: 320px;
	height: auto;
	border: 1px solid var(--border-color);
	background-color: #FFF;
	border-radius: 4px;
	padding: 15px;
	color: var(--accent-color);
}
.btn-login{
	width: 90%;
	padding: 10px 0;
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	margin-top: 30px;
	background-color: transparent;
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
	transition: all .2s ease-out;
}
.btn-login:hover{
	background-color: var(--color-three);
	border: 1px solid var(--color-three);
	text-decoration: none;
	color: #fff;
}
.btn-login:active,
.btn-login:focus{
	outline: none;
}

/*----------  Page layout Styles  ----------*/
.main-container{
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.page-content,
.nav-lateral{
	height: 100%;
	overflow: hidden;
}
.page-content{
	transition: all .2s ease-in-out;
	padding-bottom: 20px;
}

